<%=form_for (@daily_report) do |f| %>
    <label>タイトル</label>
    <div class ='form-group'>
        <%= f.select :title, [['スクリム', 'スクリム'], ['研究', '研究'], ['その他', 'その他']], include_blank: "選択して下さい", class: 'form-control'%>
    </div>
        
    <label>チームを選択してください</label>
    <div class ='form-group'>
        <label><%= f.radio_button :team, 'A'%> A <label>
        <label><%= f.radio_button :team, 'B'%> B <label>
    </div>
        <label>活動内容・反省等</label>
        <%= f.text_area :body, class: 'form-control', rows: 10%>
        <%= f.hidden_field :date, value: Date.today, class: 'form-control'%>
        <%= f.submit '更新', class: 'form-control mt-3 btn btn-primary'%>
    </div>
<%end%>