<div class ='container'>
<%= link_to '新規作成', new_daily_report_path, class: 'btn btn-success my-3 form-control' %>

    <table class="table">
    <tr>
    <th>タイトル</th>
    <th>日付</th>
    <th>投稿者</th>
    <th>スコア</th>
    <th></th>
    </tr>
    <% @daily_reports.each do |daily|%>
                <tr>
                  <td><%= daily.title%></td>
                  <td><%= daily.date%></td>
                  <td><%= daily.username%></td>
                  <td><%= daily.rate.to_i%></td>
                  <td><%= link_to '詳細', daily_report_path(daily.id)%></td>
                </tr>
    <%end%>
    </table>
    <%= paginate @daily_reports, theme: 'twitter-bootstrap-4', class: '' %>
</div>
</div>

<%#= line_chart @chart %>